#body-login container {
    height: 200px;
    position: relative;
    margin: 0;
}

#body-login {
    margin: 0;
}

.container-cards {
    margin: 15vh auto;
    border-radius: 15px;
}

.formulario-login {
    width: 75%;
    padding: 90px 30px 50px 30px;
}

.datos-login {
    margin-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.contenedor-tipos-actividades {
    margin-top: 60px;
    margin-bottom: 150px;
    align-content: center;
    text-align: justify;
}

.boton-formularios {
    float: right;
    margin-right: 20px;
    width: 20%;
    height: 105%
}

.hiddenRow {
    padding: 0 !important;
}

.alertaCrearAsesor {
    color: red;
    font-size: 16px;
}