.navbar-custom {
    background: #f4f4f4;
}

.navbar-dark .navbar-text {
    color: black;
}

.dropdown-item:hover {
    color: black !important;
    background-color: lightgray !important;
}

.container-cards {
    margin: 15vh auto;
    border-radius: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.contenedor-tipos-actividades {
    margin-top: 60px;
    margin-bottom: 150px;
    align-content: center;
    text-align: justify;
}

.hiddenRow {
    padding: 0 !important;
}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    margin-top: 25px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
