@{
    Layout = null;
}
<!--
    Este segmento de la información de los contactos se utilizan en varias partes del sistema
    En el footer del sitio y cuando no hay grupos disponibles 
//-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h5 class="text-uppercase" style="color: #CED4DA">Contactos</h5>
        <p>
            Central telefónica: (506) <a href="tel:2511-5015">2511-5015</a> <br>
            Consultas docentes: <a href="mailto:consultas.metics@ucr.ac.cr">consultas.metics@ucr.ac.cr</a> <br>
            Consultas técnicas: <a href="mailto:soporte.metics@ucr.ac.cr">soporte.metics@ucr.ac.cr</a> <br>
            Solicitud de capacitación, reuniones, asesorías a unidades académicas: <a href="mailto:unidad.metics@ucr.ac.cr">unidad.metics@ucr.ac.cr</a><br>
            Asuntos administrativos: <a href="mailto:administracion.metics@ucr.ac.cr">administracion.metics@ucr.ac.cr</a>
        </p>
    </div>
</body>
</html>
