@{
    Layout = null;
}
<!--
    Este segmento de la información de los contactos se utilizan en varias partes del sistema
    En el footer del sitio y cuando no hay grupos disponibles 
//-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h5 class="text-uppercase" style="color: #CED4DA">Contactos</h5>
        <p>
            Central telefónica: (506) <a href="tel:2511-5015" style="text-decoration: none; color: inherit;">2511-5015</a> <br>
            Consultas docentes: <a href="mailto:consultas.metics@ucr.ac.cr" style="text-decoration: none; color: inherit;">consultas.metics@ucr.ac.cr</a> <br>
            Consultas técnicas: <a href="mailto:soporte.metics@ucr.ac.cr" style="text-decoration: none; color: inherit;">soporte.metics@ucr.ac.cr</a> <br>
        </p>
    </div>
</body>
</html>
