@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />

            <div class="form-floating mb-3">
                <label asp-for="Input.nombre"></label>
                <input asp-for="Input.nombre" class="form-control text-muted" />
                <span asp-validation-for="Input.nombre" class="text-muted"></span>
            </div>
            <div class="form-floating mb-3 ">
                <label asp-for="Input.apellido_1"></label>
                <input asp-for="Input.apellido_1" class="form-control" />
                <span asp-validation-for="Input.apellido_1" class="text-danger"></span>
            </div>
            <div class="form-floating  mb-3">
                <label asp-for="Input.apellido_2"></label>
                <input asp-for="Input.apellido_2" class="form-control" />
                <span asp-validation-for="Input.apellido_2" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.tipoIdentificacion"></label>
                <input asp-for="Input.tipoIdentificacion" class="form-control" />
                <span asp-validation-for="Input.tipoIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.idParticipante"></label>
                <input asp-for="Input.idParticipante" class="form-control" />
                <span asp-validation-for="Input.idParticipante" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.unidadAcademica"></label>
                <input asp-for="Input.unidadAcademica" class="form-control" />
                <span asp-validation-for="Input.unidadAcademica" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.area"></label>
                <input asp-for="Input.area" class="form-control" />
                <span asp-validation-for="Input.area" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.departamento"></label>
                <input asp-for="Input.departamento" class="form-control" />
                <span asp-validation-for="Input.departamento" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.seccion"></label>
                <input asp-for="Input.seccion" class="form-control" />
                <span asp-validation-for="Input.seccion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.condicion"></label>
                <input asp-for="Input.condicion" class="form-control" />
                <span asp-validation-for="Input.condicion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.telefonos"></label>
                <input asp-for="Input.telefonos" class="form-control" />
                <span asp-validation-for="Input.telefonos" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
